[submodule "fishhook"]
	path = fishhook
	url = https://github.com/LiveContainer/fishhook
[submodule "OpenSSL"]
	path = OpenSSL
	url = https://github.com/krzyzanowskim/OpenSSL
[submodule "Vendor/Nyxian"]
	path = Vendor/Nyxian
	url = https://github.com/emexlab/Nyxian.git
